nav, header, section, footer {
    display: block;
}


/* BODY STYLES */
body {
    background-color: #fff;
    background-image: none;
    background-position: top left;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: auto !important;
    margin-top: 0px;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: #AC7D2E;
}

body * {
    list-style: none;
}

/* HEADER STYLES */
header {
    margin:0 auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

header h1 {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 0px
}

header h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1%;
}

section img {
    border-radius: 100%;
}


/* NAVIGATION STYLES */
nav ul{
    display: table;
    margin: 2% auto;
    font-size: 120%;
}

nav li {
    display: inline;
}

nav a {
    text-align: center;
    text-decoration:none;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgba(105,105,105, 0.5);
}

nav ul li a:hover {
    color: #000000;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
}

nav ul li a.active {
    color: #000000;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    color: black;
}

/* SECTION STYLES */

section {
    width: 100%;
    margin-top: 5%;
}

section a {
    text-decoration: none;
    color: #AC7D2E;
}

section a:hover  {
    color: #787878;
}

section a:visited {
    text-decoration: none;
}

#photo {
    padding-top: 1em;
    padding-right: 2%;
    width: 20%;
    float: left;
    margin-left: 8%;
    text-align: right;
}

#photo img {
    width: 8em;
    height: 8em;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#description {
    font-family: 'Open Sans';
    font-size: 80%;
    text-align left;
    margin-bottom: 1%;
    margin-right: 10%;
    float: left;
    width: 60%;
}

#resume {
    width: 100%;
    font-size: 2em;
    text-align: center;
    font-family: ruthie;
}

/* SPACER STYLES */
.or-spacer-bottom {
    margin: 1% auto;
    width:80%;
    margin-bottom: 0px;
    position:relative;
}
.or-spacer-bottom .mask {
    overflow:hidden;
    height:20px;
}
.or-spacer-bottom .mask:after {
    content:'';
    display:block;
    margin:-25px auto 0;
    width:100%;
    height:25px;
    border-radius:125px / 12px;
    box-shadow:0 0 8px black;
}

/*FOOTER STYLES */

footer {
    width: 100%;
}
footer ul{
    display: table;
    margin: 0 auto;
    padding-left: 0;
}

footer li {
    display: inline;
}

footer a {
    text-align: center;
    padding-right: 2px;
}

footer img {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

footer img:hover {
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

footer p {
    margin-top: 0.2%;
    font-size: 120%;
    display: block;
    text-align: center;
}
