/*
    CSS styling for WorkPage
*/

nav, header, section, footer {
    display: block;
}

/* BODY STYLES */
body {
    margin-top: 0px;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: #91485D;
}

body * {
    list-style: none;
}

/* HEADER STYLES */
header {
    margin:0 auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

header h1 {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 0px
}

header h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1%;
}

/* NAVIGATION STYLES */
nav ul{
    display: table;
    margin: 2% auto;
    font-size: 120%;
}

nav li {
    display: inline;
}

nav a {
    text-align: center;
    text-decoration:none;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgba(105,105,105, 0.5);
}

nav ul li a:hover {
    color: #000000;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
}

nav ul li a.active {
    color: #000000;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    color: black;
}

/* SECTION STYLES */

section {
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
  width: 30%;
  text-align: center;
  float: left;
}

#software_projects{
  margin-left: 5%;
}

#engineering_projects {
  margin-right: 5%;
}


figure img {
  width: 70%;
  height: 90%;
}

figure img:hover{
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
}

/* SPACER STYLES */
.or-spacer-bottom {
    margin: 3% auto;
    width:80%;
    margin-bottom: 0px;
    position:relative;
}
.or-spacer-bottom .mask {
    overflow:hidden;
    height:20px;
}
.or-spacer-bottom .mask:after {
    content:'';
    display:block;
    margin:-25px auto 0;
    width:100%;
    height:25px;
    border-radius:125px / 12px;
    box-shadow:0 0 8px black;
}

/*FOOTER STYLES */

footer {
    width: 100%;
}
footer ul{
    display: table;
    margin: 0 auto;
    padding-left: 0;
}

footer li {
    display: inline;
}

footer a {
    text-align: center;
    padding-right: 2px;
}

footer img {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

footer img:hover {
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

footer p {
    margin-top: 0.2%;
    font-size: 120%;
    display: block;
    text-align: center;
}
